body{
    font-family: monospace,sans-serif;
}

.font-primary{
    color: #00ABAE;
}

.title-icon{
    font-size: 20px;
    font-weight: bold;
}

p{
    font-size: 14px;
}

h2{
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 20px;
}

a.font-black{
    color:black !important;
}


/* About */

#about{
    margin: 60px auto;
    max-width: 400px;
    text-align: center;
}

#about img{
    border-radius:100%;
    width: 200px;
    height: 250px;
    margin-bottom: 10px;
}

#about .name{
    font-size: 19px;
}

#about .vocation{
    font-size: 17px;
    color: #A8A8AB;
    margin-bottom: 10px;
}

#about .skills{
    font-size: 14px;
    color:  #00ABAE;
    margin-bottom: 10px;
}

#about .email{
    margin-top: 15px;
    font-size: 30px;
}

.email a{
    text-decoration: none;
    color: rgb(147, 98, 35);
}

#about .icons{
    margin-top: 20px;
    font-size: 30px;
}

#about .icons a{
    color:rgb(24, 23, 23)
}

/* project */

#project{
    margin: 60px auto;
    width: 80%;
    text-align: center;
    align-content: center;
}

#project h2{
    text-align: center;
}

#project .card img{
    width: 100%;
}

.project-section{
    text-align: center;
}

#project .card-title{
    font-weight: bold;
}

.card{

    margin: 0 auto;
}

